<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a (click)="backtoHome()"><span>Movie Engine</span></a>

    <div class="right-section">
      <a (click)="navigateToWatchlist()">
        <label style="font-size: 15px">Watch List</label>
        <mat-icon
          *ngIf="watchlistCount == 0"
          class="example-icon"
          aria-hidden="false"
          aria-label="Example heart icon"
          >favorite</mat-icon
        >
        <mat-icon
          *ngIf="watchlistCount > 0"
          class="example-icon"
          aria-hidden="false"
          matBadge="{{ watchlistCount }}"
          matBadgeColor="warn"
          aria-label="Example heart icon"
          >favorite</mat-icon
        >
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
