.example-form {
    min-width: 150px;
   
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .search-bar{
    padding-top: 20px;
    margin-top: 20px;
  }

  .needspace{
    margin-top: 10px;

  }